{% extends "layouts/core_layout.html" %}

{% load i18n %}


{# HTML Header #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Acceuil" %}{% endblock %}
{% block description %}
  {% blocktrans %}
    Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
    Froid et du Conditionnement d'air
  {% endblocktrans %}
{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# **** - **** #}
  {# ---------------------------------------------- #}
  
{% endblock content %}