
{% load i18n %}

{% url 'customer:profile_update' as profile_update %}
{% url 'customer:account_change_password' as account_change_password %}
{% url 'customer:account_email' as account_email %}


{# Account settings menu #}
{# ---------------------------------------------- #}
<div class="card">
  <!-- <div class="card-header">
    Jumbotron
  </div> -->
  <div class="card-body">
    <nav class="nav flex-column nav-pills list-group list-group-flush">
      <a class="nav-link list-group-item list-group-item-action {% if active_tab == 'profile_update' %}active{% endif %}" href="{{ profile_update }}">
        {% trans "Informations personnelles" %}
      </a>
      <a class="nav-link list-group-item list-group-item-action {% if active_tab == 'account_change_password' %}active{% endif %}" href="{{ account_change_password }}">
        {% trans "Mot de passe" %}
      </a>
      <a class="nav-link list-group-item list-group-item-action {% if active_tab == 'account_email' %}active{% endif %}" href="{{ account_email }}">
        {% trans "E-mails" %}
      </a>
    </nav> <!-- nav-pills -->
  </div> <!-- card-body -->
</div> <!-- card -->
