{% load i18n %}
<footer class="footer-app w-100">
  <hr class="divider bg-light">
  <div
    class="d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap justify-content-center justify-content-lg-between align-items-center">
    {# Liste gauche #}
    {# ---------------------------------------------- #}
    <ul
      class="list-unstyled d-flex flex-wrap col-12 col-lg-5 justify-content-center justify-content-lg-start">
      <li class="mr-3 mr-lg-0">
        <small class="font-weight-normal"><a href="terms-of-services.html"
            class="text-reset">{% trans "conditions d'utilisation" %}</a></small>
      </li>
    </ul>
    {# Icone centre #}
    {# ---------------------------------------------- #}
    <i class="far fa-snowflake d-none d-lg-block mx-lg-4"></i>
    {# Liste droite #}
    {# ---------------------------------------------- #}
    <ul
      class="list-unstyled d-flex flex-wrap col-12 col-lg-5 justify-content-center justify-content-lg-end">
      <li class="mr-3 mr-lg-0">
        <small class="font-weight-normal"><a href="terms-of-services.html"
            class="text-reset">{% trans "conditions d'utilisation" %}</a></small>
      </li>
    </ul>
  </div>
</footer>