// Reboot======================================================================

/* Body
-------------------------------------------------- */
body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
}

body > * {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
}


/* Icons
-------------------------------------------------- */
i.fas {
  margin-right: 0.5rem;
}


/* Buttons
-------------------------------------------------- */
.btn-form-floating {
  height: $form-floating-height;
}