{% extends "layouts/ui_layout.html" %}

{% load crispy_forms_tags %}
{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Ton profil" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  <nav class="col col-2 nav flex-column nav-pills p-0 border-end">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a> <a class="nav-link" href="#">Link</a> <a class="nav-link disabled" href="#"
      tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>
  <div class="col">Placez ici le contenu de la nouvelle balise div</div>
{% endblock content %}
