{% extends "layouts/ui_layout.html" %}

{% load crispy_forms_tags %}
{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Ton profil" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
    <h3 class="font-weight-normal m-0 mt-2">{% trans "Profil" %}</h3>
    <hr class="divider bg-light">
    {# Formulaire ou contenu msg #}
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 pl-0">
      <fieldset class="fieldset border rounded">
        {# Crispy-forms #}
        {% crispy form %}
      </fieldset>
    </div>
{% endblock content %}
