{% extends "layouts/auth_layout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% url 'customer:account_login' as account_login %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Connexion" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} {% trans "Connectez-vous..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Connexion #}
  {# ---------------------------------------------- #}
  {# FormValidationError #}
  {% if form.errors %}
    <form action="{{ account_login }}" class="p-5 border rounded-3 bg-light needs-validation was-validated" method="post" novalidate>
  {% else %}
    <form action="{{ account_login }}" class="p-5 border rounded-3 bg-light needs-validation" method="post" novalidate>
  {% endif %}

  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <!-- <legend>{% trans "Connexion" %}</legend> -->
  
  {# Email #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.login.errors %}
        {{ form.login|add_class:'is-invalid' }}
      {% else %}
       {{ form.login }}
      {% endif %}
      {{ form.login.label_tag }}
      <p class="form-text">{{ form.login.help_text|safe }}</p>
      {% for error in form.login.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Mot de passe #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.password.errors %}
        {{ form.password|add_class:'is-invalid' }}
      {% else %}
       {{ form.password }}
      {% endif %}
      {{ form.password.label_tag }}
      <p class="form-text">{{ form.password.help_text|safe }}</p>
      {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}    </div> <!-- form field -->
  </div> <!-- col -->

  {# Remember #}
  <div class="col-md-12">
    <div class="form-check mb-3">
      {{ form.remember }}
      <label class="form-check-label">
        {{ form.remember.label_tag }}
      </label>
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Recaptcha #}
  <div class="col-md-12">
    <div class="mb-3 d-flex justify-content-center">
      {{ form.captcha }}
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Validation #}
  <div class="mb-3">
    <button type="submit"
    id="recaptcha-submit" disabled="disabled"
    class="w-100 btn btn-lg btn-primary">{% trans "Se connecter" %}</button>
  </div> <!-- form field -->

  {# Mot de passe oublié #}
  <p class="form-text text-muted text-center mb-0"> <a href="{% url 'customer:account_reset_password' %}">
    {% trans "Mot de passe oublié ?" %}</a>
  </p>

  {# Separation #}
  <hr class="my-4">

  {# Inscription #}
  <p class="form-text text-muted text-center mb-0">
    {% blocktrans %}
      Nouveau sur {{ site_name }} ?
      <a href="{{ signup_url }}">Créer un compte</a>
    {% endblocktrans %}
  </p>
  </form>

{% endblock content %}