{% extends "layouts/auth_layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% url 'customer:account_login' as account_login %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Connexion" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}

{% block headertext %} {% trans "Connectez-vous..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Connexion #}
  {# ---------------------------------------------- #}
  <form action="{{ account_login }}" class="p-5 border rounded-3 bg-light" method="post" novalidate>
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <!-- <legend>{% trans "Connexion" %}</legend> -->
    {# Email #}
    <div class="mb-3">
      {{ form.login|as_crispy_field }}
    </div> <!-- form field -->
    {# Mot de passe #}
    <div class="mb-3">
      {{ form.password|as_crispy_field }}
    </div> <!-- form field -->
    {# Remember #}
    <div class="mb-3">
      {{ form.remember|as_crispy_field }}
    </div> <!-- form field -->
    {# Recaptcha #}
    <div class="mb-3">
      {{ form.captcha|as_crispy_field }}
    </div> <!-- form field -->
    {# Validation #}
    <div class="mb-3">
      <button type="submit" id="recaptcha-submit" disabled="disabled"
      class="w-100 btn btn-lg btn-primary">{% trans "Se connecter" %}</button>
    </div> <!-- form field -->
    {# Mot de passe oublié #}
    <p class="form-text text-muted text-center mb-0"> <a href="/">
      {% trans "Mot de passe oublié ?" %}</a></p>
    <hr class="my-4">
    {# Mot de passe oublié #}
    <small class="text-muted">
      {% blocktrans %}
        Nouveau sur myHVACR ?
        <a href="{{ signup_url }}">Créer un compte</a>
      {% endblocktrans %}
    </small>
  </form>
{% endblock content %}