{% extends "layouts/ui_layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% url 'customer:account_change_password' as account_change_password %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
{% include 'components/nav_and_tabs/customer_profile_update_menu.html' %}

<div class="col-md-4 px-5 py-0">
  {# Formulaire - Changement du mot de passe #}
  {# ---------------------------------------------- #}
  <form action="{{ account_change_password }}" class="" method="post" novalidate>
    {% csrf_token %}
    <legend>{% trans "Changement du mot de passe" %}</legend>
    {# Mot de passe actuel #}
    <div class="mb-3">
      {{ form.oldpassword|as_crispy_field }}
    </div>
    {# Nouveau mot de passe #}
    <div class="mb-3">
      {{ form.password1|as_crispy_field }}
    </div>
    {# Nouveau mot de passe #}
    <div class="mb-3">
      {{ form.password2|as_crispy_field }}
    </div>
    {# Validation #}
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary">{% trans "Modifier le mot de passe" %}</button>
    </div>
  </form>
</div>
{% endblock content %}