{% extends "layouts/auth_layout.html" %}

{% load i18n %}
{% load widget_tweaks %}


{# HTML Header #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}
{% block description %}
  {% blocktrans %}
    Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
    Froid et du Conditionnement d'air
  {% endblocktrans %}
{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} 
  {% if token_fail %}
      {% trans "Mauvais jeton d'identification..." %}
  {% else %}
      {% trans "Modifier le mot de passe..." %}
  {% endif %}
{% endblock headertext %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Réinitialiser le mot de passe #}
  {# ---------------------------------------------- #}
  {# FormValidationError #}
  {% if form.errors %}
    <form action="{{ action_url }}" class="p-5 border rounded-3 bg-light needs-validation was-validated" method="post" novalidate>
  {% else %}
    <form action="{{ action_url }}" class=" p-5 border rounded-3 bg-light needs-validation" method="post" novalidate>
  {% endif %}

{# Token #}
  {% if token_fail %}
    {% url 'customer:account_reset_password' as passwd_reset_url %}
    {# Message #}
    <p class="form-text text-muted text-center mb-0">
      {% blocktrans %}
        Le lien de réinitialisation du mot de passe est invalide. 
        Il a peut être déjà été utilisé. Veuillez faire <a href="{{ passwd_reset_url }}">une nouvelle requete</a>
      {% endblocktrans %}
    </p>

  {% else %}
    {% if form %}
      {% csrf_token %}
      <!-- <legend>{% trans "Réinitialiser le mot de passe" %}</legend> -->

      {# Boucle sur les Fields #}
      {% for field in form %}
        <div class="col">
          <div class="form-floating mb-3" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            {% if field.errors %}
              {{ field|add_class:'is-invalid' }}
            {% else %}
              {{ field }}
            {% endif %}
            {{ field.label_tag }}
            {% if field.help_text %}
              <p class="form-text">{{ field.help_text|safe }}</p>
            {% endif %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error|escape }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      {# Validation #}
      <div class="mb-3">
        <button type="submit"
        class="btn btn-secondary">{% trans "Réinitialiser le mot de passe" %}</button>
      </div> <!-- form field -->

      {% else %}

      {# Message #}
      <p class="form-text text-muted text-center mb-0">
        {% blocktrans %}
          Le lien de réinitialisation du mot de passe est invalide. 
          Il a peut être déjà été utilisé. Veuillez faire <a href="{{ passwd_reset_url }}">une nouvelle requete</a>
        {% endblocktrans %}
      </p>
      {% endif %}
    {% endif %}
    </form>

{% endblock content %}