{% extends "layouts/customer_layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% url 'customer:account_change_password' as account_change_password %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Modifier le mot de passe" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertext %} {% trans "Changement du mot de passe" %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Changement du mot de passe #}
  {# ---------------------------------------------- #}
  {% if form.errors %}
    <form action="{{ account_change_password }}" class="needs-validation was-validated" method="post" novalidate>
  {% else %}
    <form action="{{ account_change_password }}" class="needs-validation" method="post" novalidate>
  {% endif %}
    {% csrf_token %}
    <!-- <legend>{% trans "Changement du mot de passe" %}</legend> -->
    {% for field in form %}
    <div class="col">
      <div class="form-floating mb-3" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
          {{ field }}
          {{ field.label_tag }}
          {% comment %} {% if field.field.required %}<span class="required">*</span>{% endif %} {% endcomment %}
          {% if field.help_text %}
            <p class="form-text">{{ field.help_text|safe }}</p>
          {% endif %}
          {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error|escape }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {# Validation #}
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary">{% trans "Modifier le mot de passe" %}</button>
    </div> <!-- form field -->
  </form>
{% endblock content %}