{% extends "layouts/auth_layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Réinitialiser le mot de passe" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} {% trans "Réinitialiser le mot de passe..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Réinitialiser le mot de passe #}
  {# ---------------------------------------------- #}
  <form class="p-5 border rounded-3 bg-light">
  <!-- <legend>{% trans "Réinitialiser le mot de passe" %}</legend> -->

    {# Message #}
    <p class="form-text text-muted text-center mb-0">
      {% blocktrans %}
        Votre mot de passe a été modifié.<br />
      {% endblocktrans %}
      <a href="{% url 'customer:account_login' %}">{% trans "Connectez-vous !" %}</a>
    </p>
  </form>
  
{% endblock content %}