{% extends "layouts/auth_layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Réinitialiser le mot de passe" %}{% endblock %}
{% block description %}
  {% blocktrans %}
    Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
    Froid et du Conditionnement d'air
  {% endblocktrans %}
{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} {% trans "Réinitialiser le mot de passe..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Réinitialiser le mot de passe #}
  {# ---------------------------------------------- #}
  <form class="p-5 border rounded-3 bg-light">
  <!-- <legend>{% trans "Réinitialiser le mot de passe" %}</legend> -->

    {# Message #}
    <p class="form-text text-muted text-center mb-0">
      {% blocktrans %}
        Nous vous avons envoyé un e-mail pour la réinitialisation de votre mot de passe.
      {% endblocktrans %}
    </p>

    {# Message #}
    {% if user.is_authenticated %}
        {% include "pages/customer/snippets/already_logged_in.html" %}
    {% endif %}
  </form>
  
{% endblock content %}