{% extends "layouts/customer_layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Ton profil" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertext %} {% trans "Edition du profil" %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Edition du profil #}
  {# ---------------------------------------------- #}
  <form action="{{ profile_update }}" class="row g-3" method="post" novalidate>
    {% csrf_token %}
    <!-- <legend>{% trans "Edition du profil" %}</legend> -->
    {# Nom #}
    <div class="col">
      {{ form.last_name|as_crispy_field }}
    </div> <!-- form field -->
    {# Prenom #}
    <div class="col">
      {{ form.first_name|as_crispy_field }}
    </div> <!-- form field -->
    {# Validation #}
    <div class="col-12">
      <button type="submit" class="btn btn-success">{% trans "Mettre à jour le profil" %}</button>
    </div> <!-- form field -->
  </form>
{% endblock content %}