{% extends "layouts/ui_layout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Ton profil" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
{% include 'components/nav_and_tabs/customer_profile_update_menu.html' %}

<div class="col px-5 py-0">
  {# Formulaire - Edition du profil #}
  {# ---------------------------------------------- #}
  <form action="{{ profile_update }}" class="row g-3" method="post" novalidate>
    {% csrf_token %}
    <legend>{% trans "Edition du profil" %}</legend>
    {# Nom #}
    <div class="col-md-4">
      {{ form.last_name|as_crispy_field }}
    </div>
    {# Prenom #}
    <div class="col-md-4">
      {{ form.first_name|as_crispy_field }}
    </div>
    {# Validation #}
    <div class="col-12">
      <button type="submit" class="btn btn-success">{% trans "Mettre à jour le profil" %}</button>
    </div>
  </form>
</div>
{% endblock content %}