{% extends "layouts/auth_layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Inscriptions fermées" %}{% endblock %}
{% block description %}
  {% blocktrans %}
    Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
    Froid et du Conditionnement d'air
  {% endblocktrans %}
{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} {% trans "Inscriptions fermées..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Inscriptions fermées #}
  {# ---------------------------------------------- #}
  <form class="p-5 border rounded-3 bg-light">
    <!-- <legend>{% trans "Verification email" %}</legend> -->
    
    {# Message #}
    <p class="form-text text-muted text-center mb-0">
      {% blocktrans %}
        Nous sommes désolés.<br />
        Les inscriptions sont actuellement fermées.
      {% endblocktrans %}
    </p>
  </form>
  
{% endblock content %}