{% extends "layouts/auth_layout.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% url 'customer:account_signup' as account_signup %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Inscription" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}
{% block headertext %} {% trans "Inscrivez-vous..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Inscription #}
  {# ---------------------------------------------- #}
  {# FormValidationError #}
    {% if form.errors %}
    <form action="{{ account_signup }}" class="p-5 border rounded-3 bg-light needs-validation was-validated" method="post" novalidate>
  {% else %}
    <form action="{{ account_signup }}" class=" p-5 border rounded-3 bg-light needs-validation" method="post" novalidate>
  {% endif %}

  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <!-- <legend>{% trans "Connexion" %}</legend> -->
  
  {# Email #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.email.errors %}
        {{ form.email|add_class:'is-invalid' }}
      {% else %}
       {{ form.email }}
      {% endif %}
      {{ form.email.label_tag }}
      <p class="form-text">{{ form.email.help_text|safe }}</p>
      {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Email 2 #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.email2.errors %}
        {{ form.email2|add_class:'is-invalid' }}
      {% else %}
       {{ form.email2 }}
      {% endif %}
      {{ form.email2.label_tag }}
      <p class="form-text">{{ form.email2.help_text|safe }}</p>
      {% for error in form.email2.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Mot de passe #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.password1.errors %}
        {{ form.password1|add_class:'is-invalid' }}
      {% else %}
       {{ form.password1 }}
      {% endif %}
      {{ form.password1.label_tag }}
      <p class="form-text">{{ form.password1.help_text|safe }}</p>
      {% for error in form.password1.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}    </div> <!-- form field -->
  </div> <!-- col -->

  {# Mot de passe 2 #}
  <div class="col-md-12">
    <div class="form-floating mb-3">
      {% if form.password2.errors %}
        {{ form.password2|add_class:'is-invalid' }}
      {% else %}
       {{ form.password2 }}
      {% endif %}
      {{ form.password2.label_tag }}
      <p class="form-text">{{ form.password2.help_text|safe }}</p>
      {% for error in form.password2.errors %}
        <div class="invalid-feedback">{{ error|escape }}</div>
      {% endfor %}    </div> <!-- form field -->
  </div> <!-- col -->

  {# Recaptcha #}
  <div class="col-md-12">
    <div class="mb-3 d-flex justify-content-center">
      {{ form.captcha }}
    </div> <!-- form field -->
  </div> <!-- col -->

  {# Validation #}
  <div class="mb-3">
    <button type="submit"
    id="recaptcha-submit" disabled="disabled"
    class="w-100 btn btn-lg btn-primary">{% trans "Créer un compte" %}</button>
  </div> <!-- form field -->

  {# Separation #}
  <hr class="my-4">

  {# Inscription #}
  <p class="form-text text-muted text-center mb-0">
    {% blocktrans %}
      En créant un compte, vous acceptez les 
      <a href="{{ signup_url }}">condition d'utilisation</a>
    {% endblocktrans %}
  </p>
  </form>

{% endblock content %}