{% extends "layouts/auth_layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}
{# ---------------------------------------------- #}
{% block head_title %}{% trans "Vérification de votre adresse e-mail" %}{% endblock %}
{% block description %}{% trans "Portail pour les Responsables d'Affaires et Bureau d'Etudes sous pression du monde du
Froid et du Conditionnement d'air" %}{% endblock %}


{# Changement du Head #}
{# ---------------------------------------------- #}
{% block headertitle %} {{ site_name }} {% endblock %}

{% block headertext %} {% trans "Vérification de votre adresse e-mail..." %} {% endblock %}


{# Block de la page #}
{# ---------------------------------------------- #}
{% block content %}
  {# Formulaire - Verification email #}
  {# ---------------------------------------------- #}
  <form class="p-5 border rounded-3 bg-light">
    <p class="form-text text-muted text-center mb-0">
      <!-- <legend>{% trans "Verification email" %}</legend> -->

      {# Message #}
      {% blocktrans %}
        Nous vous avons envoyé un e-mail pour validation.<br />Veuillez cliquez sur le lien fourni dans
        l'e-mail pour terminer l'inscription.
      {% endblocktrans %}
    </p>
  </form>
  
{% endblock content %}