{% extends "layouts/ui_layout.html" %}

{% load i18n %}


{# Changement du Head HTML #}


{# Customer Layout #}
{# ---------------------------------------------- #}
{% block ui_wrapper %}
    <main class="row min-vh-100 py-3 m-4 border rounded bg-white">
        <div class="col col-2 border-end">
            {# Menu navigation #}
            {# ---------------------------------------------- #}
            {% include 'components/nav_and_tabs/customer_profile_update_menu.html' %}
        </div> <!-- col -->
        <div class="col col-6 px-5">
            {# Changement du Head #}
            {# ---------------------------------------------- #}
            <h2 class="pb-3 mb-4 border-bottom">
                {% block headertext %}{% endblock %}
            </h2>
            {# Block de la page #}
            {# ---------------------------------------------- #}
            {% block content %}{% endblock content %}  
        </div> <!-- col -->
    </main>
{% endblock ui_wrapper %}