{% extends "layouts/ui_layout.html" %}

{% load i18n %}


{# Customer Layout #}
{# ---------------------------------------------- #}
{% block ui_wrapper %}
    <main class="row p-3 m-4 border rounded bg-white">
        <div class="col-md-4 col-lg-3 col-xl-2">
            {# Menu navigation #}
            {# ---------------------------------------------- #}
            {% include 'components/nav_and_tabs/customer_profile_update_menu.html' %}
        </div> <!-- col -->
        <div class="col-md-8 col-lg-9 col-xl-10">
            {# Changement du Head #}
            {# ---------------------------------------------- #}
            <h3 class="pb-3 mb-4 border-bottom">
                {% block headertext %}{% endblock %}
            </h3>
            {# Block de la page #}
            {# ---------------------------------------------- #}
            {% block content %}{% endblock content %}  
        </div> <!-- col -->
    </main>
{% endblock ui_wrapper %}