{% extends "base.html" %}

{% load static %}
{% load compress %}


{# CSS et SCSS #}
{# ---------------------------------------------- #}
{# Application #}
{% block app_styles %}
  {% compress css %}
    {% comment %} <link type="text/x-scss" href="{% static "scss/components.scss" %}" rel="stylesheet" media="screen"> {% endcomment %}
  {% endcompress %}
{% endblock app_styles %}


{# UI Layout #}
{# ---------------------------------------------- #}
{% block app_layout %}
  {# Sidebar #}
  {# ---------------------------------------------- #}
  {% include "components/sidebar/ui_sidebar.html" %}

  <div class="c-wrapper c-fixed-components">
    {# Components #}
    {# ---------------------------------------------- #}
    {# Header #}
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
      {% include "components/navbar/ui_navbar.html" %}
      <div class="c-subheader px-3">
        <div class="c-subheader-nav">
          {% block subheader %}{% endblock %}
          <ol class="breadcrumb border-0 m-0 p-3">
            {% block breadcrumbs %}{% endblock %}
          </ol>
        </div> <!-- c-subheader-nav -->
      </div> <!-- c-subheader -->
    </header>

    {# Messages #}
    {% include 'components/alert/ui_alerts.html' %}

    <div class="c-body">
      <main class="c-main">
        <div class="container-fluid">
          <div class="fade-in">
              {# Block du wrapper #}
              {% block ui_wrapper %} {% endblock ui_wrapper %}
          </div> <!-- fade-in -->
        </div> <!-- container-fluid -->
      </main> <!-- c-main -->
      {# Footer #}
      {% include 'components/footer/ui_footer.html' %}
    </div> <!-- c-body -->
  </div> <!-- c-wrapper -->
{% endblock app_layout %}


{# Block des scripts JS application. #}
{# ---------------------------------------------- #}
{% block app_scripts %}
  <script src="{% static "js/components.js" %}"></script>
{% endblock app_scripts %}