{% extends "base.html" %}

{% load static %}
{% load compress %}

{% load core_tags %}


{# CSS et SCSS #}
{# ---------------------------------------------- #}
{# Application #}
{% block app_styles %}
{% compress css %}
<link type="text/x-scss" href="{% static "scss/core.scss" %}" rel="stylesheet" media="screen">
{% endcompress %}
{% endblock app_styles %}


{# UI Layout #}
{# ---------------------------------------------- #}
{% block app_layout %}

<div class="row min-vh-100 container-fluid p-0 m-0 bg-light">
  {# Sidebar #}
  {% include "components/sidebar/ui_sidebar.html" %}

  <div class="col ml-md-auto p-0">
    {# Navbar #}
    {% include "components/navbar/ui_navbar.html" %}
    
    {% block dashboard_nav %}
        {% dashboard_navigation user as nav_items %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-primary">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#bottom_nav_bar" aria-controls="bottom_nav_bar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="bottom_nav_bar">
                <ul class="navbar-nav">
                    {% for item in nav_items %}
                        <li class="nav-item {% if item.has_children %}dropdown{% endif %}">
                            <a class="nav-link {% if item.has_children %}dropdown-toggle{% endif %}"
                               href="{% if item.is_heading %}#{% else %}{{ item.url }}{% endif %}"
                               {% if item.has_children %}id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}
                            >
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                {{ item.label }}
                            </a>

                            {% if item.has_children %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for subitem in item.children %}
                                        <a class="dropdown-item" href="{{ subitem.url }}">
                                            {% if subitem.icon %}<i class="{{ subitem.icon }}"></i>{% endif %}
                                            {{ subitem.label }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endblock %}

    {% include 'components/message/ui_messages.html' %}

    {# Ui Wrapper #}
    <main class="row py-3 m-4 border rounded bg-white">
      {# Block de la page #}
      {% block content %} {% endblock content %}
    </main> <!-- wrapper container-fluid -->
  </div> <!-- col -->
</div> <!-- row -->

{% endblock app_layout %}


{# Block des scripts JS application. #}
{# ---------------------------------------------- #}
{% block app_scripts %}
<script src="{% static "js/core.js" %}"></script>
{% endblock app_scripts %}