{% extends "base.html" %}

{% load static %}
{% load compress %}


{# CSS et SCSS #}
{# ---------------------------------------------- #}
{# Application #}
{% block app_styles %}
  {% compress css %}
    <link type="text/x-scss" href="{% static "scss/core.scss" %}" rel="stylesheet" media="screen">
  {% endcompress %}
{% endblock app_styles %}


{# Block de la mise en page #}
{# ---------------------------------------------- #}
{% block app_layout %}

{# Header #}
<header>
</header>

{# Ui Wrapper #}
<div class="container-fluid bg-light">
  <div class="row min-vh-100">
    {# Sidebar #}
      {% include "components/sidebar/ui_sidebar.html" %}

    <main class="col ml-md-auto p-0">
      {# Navbar #}
      {% include "components/navbar/ui_navbar.html" %}
      {% include 'components/message/ui_messages.html' %}

      {# Block de la page #}
      <div class="container-fluid border rounded bg-white m-3">
        {% block content %} {% endblock content %}

      </div> <!-- container-fluid -->
    </main>
  </div>
</div>
{% endblock app_layout %}


{# Block des scripts JS application. #}
{# ---------------------------------------------- #}
{% block app_scripts %}
<script src="{% static "js/core/messages.js" %}"></script>
<script src="{% static "js/core/sidebar.js" %}"></script>
{% endblock app_scripts %}