// Variables===================================================================

/* Typography
-------------------------------------------------- */
$font-size-root:              1rem !default;
$font-size-base:              0.875rem !default; // 14px
