{% load i18n %}
{% load account %}

{% user_display user as user_display %}

{% url 'customer:account_settings' as account_settings %}

{# Header #}
{# Navbar-account #}
{# ---------------------------------------------- #}
<header class="navbar sticky-top navbar-expand-sm navbar-light bg-white border-bottom">
  <div class="container-fluid">
    {# Collapsing (a mettre en place) #}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {# Nav right #}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {# Dropdown user #}
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="dropdown01" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">{{ user_display }}</a>
          {# Dropdown #}
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
            {# Items #}
            <li><a class="dropdown-item" href="{{ account_settings }}">
              <i class="fas fa-cog"></i>{% trans "Parametres" %}</a></li>
            {# Items #}
          </ul>
        </li> <!-- nav-item dropdown -->
      </ul> <!-- navbar-nav -->
    </div> <!-- navbar-collapse -->
  </div> <!-- container-fluid -->
</header>