{% load i18n %}

{% url 'customer:profile_update' as profile_update %}


{# Sidebar #}
{# ---------------------------------------------- #}
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  {# Logo site #}
  <div class="c-sidebar-brand d-lg-down-none">
    {# Logo full #}
    <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
      <use xlink:href="/static/brand/coreui.svg#full"></use>
    </svg>
    {# Logo minimized #}
    <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
      <use xlink:href="/static/brand/coreui.svg#signet"></use>
    </svg>
  </div> <!-- c-sidebar-brand -->
  {# Navigation #}
  <ul class="c-sidebar-nav">
    {# Link #}
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="/">
        <span class="c-sidebar-nav-icon">
          <i class="cil-home"></i>
        </span> {% trans "Acceuil" %}
      </a>
    </li>
    {# Title #}
    <li class="c-sidebar-nav-divider"></li>
    <li class="c-sidebar-nav-title">{% trans "Applications" %}</li>
    {# Dropdown #}
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <span class="c-sidebar-nav-icon">
          <i class="cil-user"></i>
        </span> {% trans "Compte" %}
      </a>
      {# Dropdown-items #}
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="{{ profile_update }}">
            <span class="c-sidebar-nav-icon"></span> {% trans "Profil" %}
          </a>
        </li>
      </ul>
    </li>
    {# Title #}
    <li class="c-sidebar-nav-divider"></li>
    <li class="c-sidebar-nav-title">{% trans "Extras" %}</li>
    {# Dropdown #}
    <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <span class="c-sidebar-nav-icon">
          <i class="cil-star"></i>
        </span> {% trans "Pages" %}
      </a>
      {# Dropdown-items #}
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/page-404.html" target="_top">
            <span class="c-sidebar-nav-icon">
              <i class="cil-bug"></i>
            </span> {% trans "Error 404" %}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  {# Minimizer button #}
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
    data-class="c-sidebar-minimized"></button>
</div>